*{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0 auto;
}
body, h2, header, h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    background-color: #8eac90;
}
.all{
    background-color: rgb(238, 238, 238);
    padding: 1.5em 8em;
    border-radius: 10px;
    margin-top: 1.5em;
}
@media screen and (min-width: 800px){
    form{
        width: 15em;
        padding: 0em 8em;
        margin: 1em;
    }
    #about-text{
        width: 25em;
    }
}
@media screen and (max-width: 799px){
    form{
        width: 9em;
        padding: 0em 1em;
        margin: 1em;
    }
    #about-text{
        width: 11em;
    }
}

#form, #all-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form input[type=text]{
    margin-bottom: 1.4em;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 2em;
}
label{
    font-weight: 500;
    color: rgb(93, 122, 107)
}
#submit{
    color: darkblue;
    padding: 1em;
    background-color: white;
    border: 1px solid #9a9797;
    border-radius: 8px;
    box-shadow: 0.2px 0.2px 1px grey;
}
#submit:hover{
    background-color: darkblue;
    color: white;
    cursor: pointer;
}
h1{
    margin: 1em;
    color: #233224;
}
h2{
    margin-bottom: 1em;
    color: #404f41;
}
nav a{
    margin: 0.5em;
    color: rgb(232, 255, 233);
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
nav{
    border: 1px solid #495a4a;
    padding: 0.5em 2em;
    border-radius: 8px;
}
section{
    margin: 1em;
    text-align: center;
}
#all-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}
#about-text p{
    max-width: 50ch;
}
footer{
    margin-top: 5em;
    width: 100%;
}
footer p{
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    margin-top: 0.5em;
}
hr{
    width: 100% ;
    border: 0.5px solid #404f41;
}